MouseInfo
PyAutoGUI
PyGetWindow
PyMsgBox
PyNaCl
PyRect
PyScreeze
PyYAML
aiohappyeyeballs
aiohttp
aiosignal
altgraph
annotated-types
anyio
attrs
av
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
ctranslate2
distro
edge-tts
faster-whisper
filelock
flatbuffers
frozenlist
fsspec
h11
hf-xet
httpcore
httpx
huggingface-hub
humanfriendly
idna
jiter
mpmath
multidict
ollama
onnxruntime
openai
packaging
pefile
pillow
propcache
protobuf
py-cord
pyaudio
pycparser
pydantic
pydantic_core
pygame
pyinstaller-hooks-contrib
pyperclip
pyqt5
pyreadline3
python-dotenv
pytweening
pytz
pywin32-ctypes
redis
screeninfo
shellingham
sniffio
spotipy
sympy
tabulate
tokenizers
tqdm
typer-slim
typing-inspection
typing_extensions
urllib3
yarl